<!DOCTYPE html>
<html>
<head>
    <title>Subir Archivos</title>
</head>
<body>
    <h1>Subir Archivos</h1>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" name="documents" id="fileInput" multiple>
        <button type="submit">Enviar Archivos</button>
    </form>
    <div id="message"></div>

  
</body>
<script src="./archivos.js"></script>
</html>