<div id="container">
    <h1>Carrito</h1>

    {{#each carritos}}

    <p id="idp"><strong>Id de carrito:</strong> {{this._id}}</p>
    <p><strong>Id de productos agregados:</strong> {{this.products}}</p>

{{/each}}


</div>
