<h1>Carrito</h1>

{{#each carritos }}
  <div>
    <p><strong>ID de carrito:</strong> <span>{{this._id}}</span></p>
    <p>ID de productos agregados: {{this.products}}</p>
    <button class="comprar-btn" data-carrito-id="{{this._id}}">Comprar</button>
  </div>
{{/each}}

<script  src="../ticket.js"></script>
