<section>

    <h1>Ingreso</h1>
    <form id="formIngreso">

      
        <label>Email</label>
        <input name="email">
    
        <label>Constraseña</label>
        <input name="password" type="password">


        <input type="submit">
       
    </form>
    <form  id="register">

         <button id="register" type="submit">Registrarse</button>
    </form>

    <button><a href="./reset-password">Reestablecer</a></button> 
</section>

<script src="./login.js"></script>