<!-- 
<h1>productos</h1>
<form>

<ul>

    <li>
        <input type="text" placeholder="Titulo"> 


    </li>
    <br>
    <li
    ><input type="text" placeholder="Descripcion">
    </li>
        <br>

    <li>
        <input type="text" placeholder="precio">
    </li>
        <br>

    <li>
        <input type="text" placeholder="codigo">


    </li>
        <br>

    <li>
        <input type="text" placeholder="stock">
    </li>
        <br>

    <li>
        <input type="text" placeholder="id">
    </li>
</ul>

</form>

{{#each productos}}

<p>{{this.tittle}}</p>
{{/each}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.2/socket.io.js"></script>
<script src="../index.js"></script>
<script src="../index/index.js"></script>>
-->