<section>

    <h1>Registro</h1>
    <form id="formRegistro">

        <label>Nombre</label>
        <input name="first_name">
        <label>Apellido</label>
        <input name="last_name">
        <label>Email</label>
        <input name="email">
        <label>Edad</label>
        <input name="age">
        <label>Constraseña</label>
        <input name="password">
        <label for="">Rol</label>
        <select name="rolf" id="rolf">
            <option value="user">user</option>
            <option value="admin">admin</option>
         
        </select>



        <input type="submit">
    </form>
</section>

<script src="./registro.js"></script>