<section>

    <h1>Restablecer Contrase単a</h1>
   <form id="resetPassword">
        <!-- Campos para restablecer la contrase単a -->
        <label>Nueva Contrase単a:</label>
        <input type="password" id="password" name="password" required>
        <input type="hidden" name="token" value="{{ token }}"> <!-- Agregar un campo oculto para enviar el token -->
        <button type="submit">Restablecer Contrase単a</button>
    </form>

    
    </section>


<script src="./reestablecer.js"></script>