<!-- reset_password_page.handlebars -->
<!DOCTYPE html>
<html>
<head>
    <title>Restablecer Contraseña</title>
</head>
<body>
    <h1>Restablecer Contraseña</h1>
    <form  id="resetPassword">
        <!-- Campos para restablecer la contraseña -->
        <label >Nueva Contraseña:</label>
        <input type="password" id="password" name="password" required>

     

        <button type="submit">Restablecer Contraseña</button>
    </form>
</body>
</html>

<script src="./reestablecer.js"></script>